@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #f9f9ff;
    box-shadow: 0 0 10px #c6c4c4 inset;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(253 201 59 / 70%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fdc93b;
}

::-webkit-scrollbar-corner {
    background-color: #0a0057;
}

:root {
    --primary: linear-gradient(to bottom right, #0a0057, #3f00ee);
    --secondary: gold;
    --text: rgb(44, 44, 80);
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #232357;
}

span {
    font-size: 0.9rem;
    font-weight: 400;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: #181831;
}

/* navigation */
nav {
    position: fixed;
    width: 100%;
    background-color: #fcfafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
    z-index: 999;
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navigation {
    display: flex;
}

#menu-close {
    display: none;
}

#menu-button {
    width: 30px;
    height: 30px;
    display: none;
}

nav .navigation ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav .navigation ul li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.4s ease;

}

nav .navigation ul li a.active,
nav .navigation ul li a:hover {
    color: #fdc93b;
}

/* Home */
#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(../img/logo/back.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

/* #home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url(../img/logo/back.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
    align-content: space-around;
    align-items: baseline;
} */
.bounce {
    display: flex;
}

#home h2 {
    position: relative;
    font-weight: 700;
    color: #ffffff00;
    font-size: 5vw;
    letter-spacing: 1px;
    -webkit-text-stroke: 3px #ffffff;

}

#home h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #ffffff;
    -webkit-text-stroke: 0vw #ffffff;
    border-radius: 1px solid #ffffff;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

#home p {
    width: 50%;
    color: aliceblue;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn {
    margin-top: 30px;
    margin-left: 30px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
}

/*
#home a.blue {
    color: aliceblue;
    background-color: rgb(21, 21, 100);
    transition: 0.7s ease;
}

#home a.blue:hover {
    color: rgb(21, 21, 100);
    background: aliceblue;
} */

#home a.yellow {
    color: aliceblue;
    background-color: #fdc93b;
    transition: 0.7s ease;
}

/* #home a.yellow:hover {
    color: #151564;
    background: aliceblue;

} */

/* features */
#features {
    padding: 5vw 8vw 8vw 8vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background: #f9f9ff;
    text-align: start;
}

#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 80);
    padding: 13px 0 7px 0;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(46, 46, 80);
}

/* video */

#video h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5vw;
    margin-bottom: 4vw;
}

.main-video video {
    width: 100%;
    border-radius: .5rem;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1.6fr;
    gap: 1rem;
    padding: .5rem;
    text-transform: capitalize;
    box-sizing: border-box;
}

.main-video,
.video-playlist {
    width: 100%;
}

.main-video .title {
    margin-top: 1rem;
    padding-left: 1rem;
}

.video-playlist .title {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #232357;
}

.video-playlist>p {
    padding: 0.5rem;
    color: #7b838a;
}

/* course */
#course {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#course h1 {
    color: #232357;
}

#course .course-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

.courses {
    text-align: center;
    background: #f9f9ff;
    border: 2px solid #ddd;
    border-radius: 10px;
    height: 100%;
    max-height: 450px;
    position: relative;
    display: none;
}

.courses:hover {
    transition: all 0.3s ease;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

#course .courses img {
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

#course .courses .details {
    padding: 15px 15px 100px 15px;
    max-height: 200px;
    height: 100px;
}

#course .courses .details h6 {
    color: #0a0057;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

#course .courses .details p {
    color: #757373;
    font-weight: 400;
    font-size: 0.9rem;
}

#course .courses .details i {
    color: #fdc93b;
    font-size: 0.9rem;
}

#course .courses .cost {
    background-color: rgb(74, 74, 136);
    color: aliceblue;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    bottom: 100px;
}

#course #buttons {
    padding: 2vw 8vw 4vw 8vw;

}

.title {
    color: #101c32;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#course button {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
}

.img-fluid {
    border-radius: 10px;
    padding: 10px;
}

#course button.yellow {
    color: aliceblue;
    background-color: #fdc93b;
    transition: 0.5s ease;
}

#course button.yellow:hover {
    color: #151564;
    background: aliceblue;

}

.hidden {
    opacity: 1;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    display: block;
    filter: blur(0);
    transform: translateX(0);
    opacity: 1;
}

.profile:nth-child(1) {
    transition-delay: 20ms;
}

.profile:nth-child(2) {
    transition-delay: 30ms;
}

.profile:nth-child(3) {
    transition-delay: 40ms;
}

/* form-col */
.form-col:nth-child(1) {
    transition-delay: 20ms;
}

.form-col:nth-child(2) {
    transition-delay: 30ms;
}

.form-col:nth-child(3) {
    transition-delay: 40ms;
}

.form-col:nth-child(4) {
    transition-delay: 50ms;
}

.form-col:nth-child(5) {
    transition-delay: 60ms;
}

/* getin-details */

.getin-details:nth-child(1) {
    transition-delay: 20ms;
}

.getin-details:nth-child(2) {
    transition-delay: 30ms;
}

.getin-details:nth-child(3) {
    transition-delay: 40ms;
}

/* features */
.fea-box:nth-child(2) {
    transition-delay: 10ms;
}

.fea-box:nth-child(3) {
    transition-delay: 20ms;
}

.course-box:nth-child(2) {
    transition-delay: 10ms;
}

.course-box:nth-child(3) {
    transition-delay: 20ms;
}

.course-box:nth-child(4) {
    transition-delay: 30ms;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

/* registration */

#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99, 112, 168, 0.5), rgba(81, 91, 233, 0.5)), url(../img/logo/signup.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#registration .reminder {
    color: aliceblue;
}

#registration .reminder h1 {
    color: aliceblue;
}

#registration .reminder .time {
    display: flex;
    margin-top: 40px;
}

#registration .reminder .time .date {
    text-align: center;
    padding: 13px 33px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
    border-radius: 5px;
    margin: 0 5px 10px 5px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    font-size: 1.1rem;
    font-weight: 600;
}

#registration .form {
    background: aliceblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
}

#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid #5428f1;
    outline: none;
}

#registration .form input::placeholder {
    color: #413c3c;
    font-size: 0.9rem;
    font-weight: 500;
}

#registration .form .btn {
    margin-top: 20px;

}

#registration .form a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
    color: aliceblue;
    background-color: #fdc93b;
    transition: 0.7s ease;
}

#registration .form a.yellow:hover {
    color: rgb(21, 21, 100);
    background: aliceblue;
}

/* experts  */

#experts {
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#experts .experts-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#experts .experts-box .profile {
    background: #fafaf1;
    padding: 30px 10px;
}

/* #experts .experts-box .profile img{
    height: 50%;
    width: 50%;
} */

.pro-links {
    margin-top: 10px;
}

.pro-links i {
    padding: 10px 13px;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
    transition: 0.7s ease;
    border-radius: 5px;
}

.pro-links i:hover {
    background: rgb(21, 21, 100);
    color: #fff;
    border: 1px solid rgb(21, 21, 100);
    cursor: pointer;
}

/* footer  */

/* footer  */

footer {
    padding: 3vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 40px;
}

footer .footer-col i {
    padding-right: 10px;
    color: #ffffff;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 20px;
}

footer li {
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.7s ease;
}

footer li:hover {
    color: rgb(241, 240, 245);
}

footer p {
    color: #7b838a;
}

footer .subscribe {
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: aliceblue;
}

footer .subscribe a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
}

footer .subscribe a.yellow {
    color: #2c2c2c;
    background-color: #fdc93b;
    transition: 0.7s ease;
}

footer .subscribe a.yellow:hover {
    color: rgb(21, 21, 100);
    background: aliceblue;
}

footer .copyright {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p {
    color: aliceblue;
}

footer .copyright .pro-links {
    margin-top: 0px;
}

footer .copyright .pro-links i {
    background-color: #5f7185;
    color: aliceblue;
    border-radius: 5px;
}

footer .copyright .pro-links i:hover {
    background-color: #fdc93b;
    color: #2c2c2c;
}

/* about */

#about-home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../img/logo/back1.jpg");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

/* #about-home h2 {
        color: aliceblue;
        font-size: 2.2rem;
        letter-spacing: 1px;
    } */
#about-home h2 {
    position: relative;
    font-weight: 700;
    color: #ffffff00;
    font-size: 5vw;
    letter-spacing: 1px;
    -webkit-text-stroke: 3px #ffffff;
    text-transform: uppercase;
}

#about-home h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #ffffff;
    -webkit-text-stroke: 0vw #ffffff;
    border-radius: 1px solid #ffffff;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

#about-container {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
}

#about-container .about-img {
    width: 60%;
    padding-right: 60px;
}

#about-container .about-img img {
    width: 100%;
}

#about-container .about-text {
    width: 40%;

}

#about-container .about-text p {
    color: #686f7a;
    font-weight: 300;
}

#about-container .about-text h2 {
    color: #29303b;
    padding-bottom: 15px;
}

#about-container .about-text .about-fe {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
}

#about-container .about-text .about-fe img {
    width: 50px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

#about-container .about-text .about-fe .fe-text {
    width: 90%;
}

#about-container .about-text .about-fe .fe-text h5 {
    font-size: 16px;
    color: #29303b;
}

#trust {
    text-align: center;
    padding: 8vw;
}

#trust .trust-img {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#trust .trust-img img {
    width: 90px;
    height: auto;
}

/* course-inner */

#course-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}

#course-inner h3 {
    padding: 35px 0 25px 0;
    color: #29303b;
}

#course-inner p {
    color: #64626e;
}

#course-inner hr {
    height: 1px;
    background: rgba(236, 226, 229, 0.5);
    margin-top: 40px;
}

#course-inner .overview {
    width: 70%;
}

#course-inner .overview .course-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

#course-inner .overview .course-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#course-inner .overview .course-head .c-name {
    width: 60%;
}

#course-inner .overview .course-head .c-name h2 {
    color: #29303b;
}

#course-inner .overview .course-head .c-name .star {
    margin: 6px 0;
}

#course-inner .overview .course-head .c-name .star i {
    color: #fdc93b;
    font-size: 0.9rem;
}

#course-inner .overview .course-head .c-name p {
    font-size: 15px;
}

#course-inner .overview .course-head span {
    padding: 16px 20px;
    border-radius: 5px;
    color: #5838fc;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(88, 56, 252, 0.1);
}

#course-inner .learn p {
    font-size: 15px;
    margin-right: 15px;
    color: #654ce4;
}

#course-inner .learn p i {
    font-weight: 700;
    padding-bottom: 20px;
}

#course-inner .tutor {
    display: flex;
}

#course-inner .tutor img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

#course-inner .tutor h5 {
    font-size: 15px;
}

#course-inner .enroll {
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 20px 40px 0 rgb(11, 2, 55, 8%);
}

#course-inner .enroll h3 {
    padding-bottom: 10px;
}

#course-inner .enroll p {
    font-size: 15px;
    color: #64626e;
    margin: 15px 0;
}

#course-inner .enroll p li {
    font-weight: 500;
    margin-right: 18px;
    width: 20px;
    height: 20px;
    line-height: 16px;
    text-align: center;
}

#course-inner .enroll .enroll-btn {
    padding: 25px 0 20px 0;
    margin: 0;
    text-align: center;
}

#course-inner .enroll .enroll-btn a {
    text-decoration: none;
    font-size: 0.8rem;
    padding: 13px 45px;
    border-radius: 5px;
    font-weight: 600;
    color: aliceblue;
    background: rgb(50, 50, 136);
}

#course-inner .description {
    font-weight: 600;
    font-size: 1.5rem;
    color: #5428f1;
}

/* Contact */

#contact {
    padding: 8vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#contact .getin {
    width: 350px;
}

#contact .getin h2 {
    color: #2c234d;
    font-size: 30px;
    font-weight: 800;
    line-height: .8;
    margin-bottom: 15px;
}

#contact .getin p {
    color: #686875;
    line-height: 24px;
    margin-bottom: 33px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e5e4ed;
}

#contact .getin h3 {
    color: #2c234d;
    font-size: 16px;
    font-weight: 660;
    line-height: 26px;
    margin-bottom: 15px;
}

#contact .getin .getin-details div {
    display: flex;
}

#contact .getin .getin-details div .get {
    font-size: 16px;
    line-height: 22px;
    color: #654ce4;
    margin-right: 20px;
}

#contact .getin .getin-details div p {
    font-size: 14px;
    border-bottom: none;
    line-height: 22px;
    margin-bottom: 15px;
}

#contact .getin .getin-details .pro-links i {
    margin-right: 8px;
}

#contact .form {
    width: 60%;
    background: #f7f6fa;
    padding: 40px;
    margin-bottom: 8px;
}

#contact .form h4 {
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    border-radius: 10px;
}

#contact .form p {
    color: #686875;
    line-height: 24px;
    padding-bottom: 25px;
}

#contact .form .form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#contact .form .form-row input {
    width: 48%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form .form-col input,
#contact .form .form-col textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #7e7c87;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 20px;
}

#contact .form button {
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(21, 21, 100);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: aliceblue;
}

#map {
    width: 100%;
    height: 70vh;
    /* margin-bottom: 1vw; */
}

#map iframe {
    width: 100%;
    height: 70vh;

}

@media screen and (max-width: 990px) {
    .container {
        grid-template-columns: 1fr;
    }

    ::-webkit-scrollbar {
        width: 15px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: 0 0 8px #c6c4c4 inset;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }
}

@media(max-width: 769px) {
    nav {
        padding: 15px 20px;
    }

    nav img {
        width: 130;
    }

    #menu-button {
        display: initial;
    }

    #menu-close {
        display: initial;
        font-size: 1.6rem;
        color: aliceblue;
        padding: 30px 0 20px 20px;
    }

    nav .navigation ul {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        height: 100vh;
        background: rgb(17, 20, 104, 0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.7s ease;
    }

    nav .navigation ul.active {
        right: 0px;
    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
    }

    nav .navigation ul li a {
        color: aliceblue;
    }

    #home {
        padding-top: 0px;
    }

    #home p {
        width: 90%;
    }

    #features {
        padding: 8vw 4vw 0 4vw;
    }

    #course {
        padding: 8vw 4vw 0 4vw;
    }

    #course .course-box {
        margin-right: 50px;
    }

    #registration {
        margin-top: 8vw;
        padding: 6vw 4vw 6vw 4vw;
    }

    #registration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    #experts {
        padding: 8vw 8vw 4vw 8vw;
        text-align: center;
    }

    footer .copyright .pro-links {
        margin-top: 15px;
    }

    /* about */

    #about-container {

        padding: 8vw 4vw 2vw 4vw;
    }

    #about-container .about-img {
        padding-right: 30px;
    }

    #trust .trust-img img {
        width: 50px;
        height: auto;
    }

    /* course-inner */

    #course-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8vw 4vw;
    }

    #course-inner .overview {
        width: 100%;
    }

    #course-inner .overview .course-img {
        width: 100%;
        height: 100%;
    }

    #course-inner .enroll {
        margin-top: 25px;
    }

    /* Contact */

    #contact {
        padding: 8vw 4vw;
    }

    #contact .getin {
        width: 250px;
    }
}

@media(max-width: 475px) {
    #registration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #registration .reminder .time {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    /* about */

    #about-container {
        flex-direction: column-reverse;
    }

    #about-container .about-img {
        width: 100%;
        padding-right: 0px;
    }

    #about-container .about-text {
        width: 100%;
        padding-bottom: 20px;
    }

    #trust .trust-img {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #trust .trust-img img {
        width: 60px;
        height: auto;
        margin: 10px 15px;
    }

    /* course-inner */

    #course-inner .overview .course-head .c-name {
        width: 45%;
    }

    #course-inner .overview .course-head .c-name h2 {
        font-size: 20px;
    }

    #course-inner .overview .course-head span {
        font-size: 20px;
    }

    #course-inner .enroll {
        width: 100%;
    }

}

@media (max-width: 376px) {
    footer input {
        width: 100%;
        margin-bottom: 20px;
    }

}

/* profile */

#profil {
    padding: 8vw 8vw 5vw 8vw;
    display: grid;
}

#profil .container {
    display: flex;
    margin-top: 2vw;
    width: 100%;
}

#profil .container .card-img {
    display: grid;
    padding: 5vw;
    align-items: safe;
    border: 1px solid #757373;
    border-radius: 5px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.305);
}

#profil .container .card-img .info {
    display: grid;
    margin-top: -60px;
    padding: 2vw;
}

#profil .container .card-img hr {
    width: 100%;
    border: 1px solid #757373;
    margin-bottom: 20px;
}

#profil .container .card-img .info .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

#profil .container .card-img .info table {
    margin-top: 20PX;
}

#profil .container .card-img .info table tr {
    margin-top: 10PX;
}

#profil .container .card-info {
    width: 70%;
    height: 350px;
    border: 1px solid #757373;
    border-radius: 5px;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.305);
}

#profil .container .card-info .card-header {
    margin: 20px;
}

#profil .container .card-info .card-header i {
    margin-right: 10px;
    color: #3f00ee;
    font-size: 20px;
}

#profil .container .card-info .card-header h3 {
    color: #3f00ee;
    font-size: 20px;
    font-weight: 600;
}

#profil .container .card-info .profil-info {
    margin: 25px;
}

#profil .container .card-info .profil-info table {
    display: grid;
    align-items: center;
    justify-content: safe;
}

#profil .container .card-info .profil-info table tr td label {
    font-size: 17px;
    font-weight: 600;
    color: #101c32;
}

#profil .container .card-info .profil-info table tr td h5 {
    font-size: 17px;
    font-weight: 400;
    color: #64626e;
}

#profil .container .card-info .btn-update {
    float: right;
    margin-right: 25px;

}

#profil .container .card-info .btn-update .btn {
    background-color: #3f00ee;
    color: aliceblue;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

#profil .container .card-info .btn-update .btn:hover {
    background-color: #0054ED;
    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profil-img {
        margin-bottom: 20px;
    }

    .info table {
        width: 100%;
    }

    .info-etud {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .info-etud td:first-child {
        width: 100%;
        margin-bottom: 5px;
    }

    .photo-profile {
        width: 150px;
    }

    #profil .container .card-info {
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
}

/* .user_profile{
    background-image: url('/public/module/cs.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
        height: 400px;
} */

/* #profil .card {
    background: #fff;
    border-radius: 10px;
    border: 1px solid #7e7c87;
    height: auto;
    width: 100%;
    padding: 40px 30px 30px 30px;
    display: flex;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.15);
}

#profil .profil-img {
    display: grid;
    align-items: center;
    align-items: center;
    width: 350px;
    height: 100%;
    border: none;
    margin-left: 40px;
}

#profil .profil-img .photo-profile {
    margin: 10px 10px 20px 50px;
    padding: 5px;
    border-radius: 50%;
    position: relative;
} */

/* #profil .profil-img .info h6{
    padding: 15px;
    margin-top: -30px;
    margin-left: -30px;
    align-items: center;
    display: flex;
    justify-content: center;
} */

/* #profil .profil-img .info .btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#profil .profil-img a {
    margin: 5px;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
}

#profil .profil-img a.blue {
    color: aliceblue;
    background-color: rgb(21, 21, 100);
    transition: 0.7s ease;
}

#profil .profil-img a.blue:hover {
    color: rgb(21, 21, 100);
    background: aliceblue;
}

#profil .profil-img a.yellow {
    color: aliceblue;
    background-color: #fdc93b;
    transition: 0.7s ease;
}

#profil .profil-img a.yellow:hover {
    color: #151564;
    background: aliceblue;

} */

/* #profil .profil-info{
    margin-left: 30px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profil .profil-info .info-etud{
    padding: 10px;
}
#profil .profil-info .info-etud label{
    padding-right: 15px;
    font-weight: 700;
    font-size: 1.2rem;
    color: #101c32;
}
#profil .profil-info .info-etud input{
    height: 30px;
    width: 250px;
    background-color: #fff;
    color: #7e7c87;
    border: 1px solid #7e7c87;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    outline: none;
    padding: 20px 30px;
    margin-bottom: 5px;
} */
/* #profil .profil-info {
    width: 100%;
    margin-left: 1v60px;
    display: flex;
    justify-content: safe;
    align-items: center;
}

#profil .profil-info tr td label {
    padding-right: 40px;
    font-weight: 600;
    font-size: 1rem;
    color: #101c32;
}

#profil .profil-info tr td {
    height: 15px;
    padding-right: 10px;
} */
